#video{
  position: fixed;
  width:100%;
  min-height: 100%;
  bottom: 0;
  right: 0;
}

table{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 580px;
  transition: all 0.3s ease-in-out;
}

a{
  color: white;
  text-decoration: none;
}

table :hover{
  background-color: blue;
  color: black;
}